/*****************************************************************
    **
    **  Task - 7 /Media.css
    **  21.04.2015 - media queries
    **
*****************************************************************/
#wrapper {
    margin: 0 auto;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 0;
}

/* ------------------------------------------------------------ */
/* -------------------- CSS MEDIA COLUMS ---------------------- */
/* ------------------------------------------------------------ */
.col-4, .col-8, .col-12 {
    position: relative;
    display: block;
    margin: 0 auto;
    float: left;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0%;
    padding-right: 0%;
}

.col-12 {
    width: 100% !important;;
    margin: 0 auto;
    display: block;
}

.col-8 {
    width: 66.6666666% !important;
    margin: 0 auto;
    display: block;
}
.col-4 {
    width: 31.3333333% !important;
    margin: 0 auto;
    display: block;
    margin: 0 auto auto 1.4%;
}


/* ------------------------------------------------------------ */
/* ----------------- CSS MEDIA BREAKPOINTS -------------------- */
/* ------------------------------------------------------------ */

@media (max-width: 320px) {

    .col-4, .col-8, .col-12 {
        position: relative;
        display: block;
        margin: 0 auto;
        float: left;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0%;
        padding-right: 0%;
        border: 1px dashed blue;
    }

    /*
    .col-12 {
        width: 33%;
    }

    .col-8 {
        width: 66.6666666%;
    }
    .col-4 {
        width: 31.3333333%;
    }*/

    .container {
        border: 1px solid #ADDFFF;
    }

    .main-wrap {
        /*width: 34%;*/
    }



    .article {
        color: #000 !important;
    }
}


@media (max-width: 420px) {

    .col-4, .col-8, .col-12 {
        position: relative;
        display: block;
        margin: 0 auto;
        float: left;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0%;
        padding-right: 0%;
        border: 1px dashed orange;
    }

/*    .col-12 {
        width: 99%;
    }

    .col-8 {
        width: 66.6666666%;
    }
    .col-4 {
        width: 31.3333333%;
    }*/

    .container {
        border: 1px solid red;
    }

    #header .logo {
        font-size: 44px !important;
    }

/*    #main-wrap {
        margin-right: auto;
        margin-left: auto;
        padding: 0 auto;
        border: 1px solid blue;
    }

    #main-wrap .article {
        margin: 0 auto;
        display: block;
        border: 1px solid blue;
    }*/
}

@media (max-width: 666px) {
    .container {
        /*width: 650px;*/
    }

    #header .slogon {
        margin: 22px auto !important;
    }

    .lines::before {
       /*display: block !important;
        margin: 10px auto !important;
        width: 82% !important;*/
    }

    #header .lines, .lines::before ,.lines::after {
        display: block !important;
        margin: 0 auto !important;
        width: 80% !important;
        margin: 10px auto !important;
    }

    .btn {
        margin: 50px auto !important;
    }
}

@media (max-width: 748px) {
    .container {
        /*width: 750px;*/
    }
    .menu {
        display: block;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999999;
    }
    .menu li {
        top: 30px;
    }
}


@media (max-width: 300px) {

    .col-4, .col-8, .col-12 {
        position: relative;
        display: block;
        margin: 0 auto;
        float: left;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0%;
        padding-right: 0%;
        border: 1px dashed green;
    }

    /*
    .col-12 {
        width: 33%;
    }

    .col-8 {
        width: 66.6666666%;
    }
    .col-4 {
        width: 31.3333333%;
    }*/

    .container {
        border: 1px solid yellow;
    }

    #header .logo {
        font-size: 44px !important;
        padding: 30px 0 30px 0 !important;
    }

    #main, .main-wrap {
        width: 98%;
        display: block;
        margin: 0 auto;
        padding: 0;
    }

/*    .article, article {
        position: relative;
        display: block;
        margin: 0 auto;
        float: left;
        width: 32%;
        border: 1px solid #ADDFFF;
        padding: 0;
    }
    .article .headline {
        margin: 0;
        padding-top: 0;
    }*/
}




/* ---------------------- MAX and MIN ------------------------- */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */




/* ------------------------------------------------------------ */
/* ------------------- Phones - res 420px --------------------- */
/* ------------------------------------------------------------ */
@media (min-width: 420px) {
    .container {
        /*width: 400px;*/
    }
}

/* ------------------------------------------------------------ */
/* ------------------- Phones - res 666px --------------------- */
/* ------------------------------------------------------------ */
@media (min-width: 666px) {
    .container {
        /*width: 650px;*/
    }
}


/* ------------------------------------------------------------ */
/* ------------------- Fablets - res 748 ---------------------- */
/* ------------------------------------------------------------ */
@media (min-width: 748px) {
    .container {
        /*width: 750px;*/
    }
}


/* ------------------------------------------------------------ */
/* ------------------- Tablets - res 992px -------------------- */
/* ------------------------------------------------------------ */
@media (min-width: 992px) {
    .container {
        /*width: 970px;*/
    }
}


/* ------------------------------------------------------------ */
/* ------------------- Laptop - res 1200px -------------------- */
/* ------------------------------------------------------------ */
@media (min-width: 1200px) {
    .container {
        /*width: 1170px;*/
    }
}


/* ------------------------------------------------------------ */
/* ------------------- Laptop - res 1366px -------------------- */
/* ------------------------------------------------------------ */
@media (min-width: 1366px) {
    .container {
        /*width: 1348px;*/
    }
}


/* ------------------------------------------------------------ */
/* ------------------- Desktop - res 1920px ------------------- */
/* ------------------------------------------------------------ */
@media (min-width: 1920px) {
    .container {
        width: 1900px;
    }
}





















/* ------------------------------------------------------------ */

/* --------------------- CSS CLEARFIX ------------------------- */

/* ------------------------------------------------------------ */
.clearfix::before, .clearfix::after {
    display: block;
    content: " ";
    display: table;
}
.clearfix  {
    clear: both;
}
/* ------------------------------------------------------------ */

/* --------------- CSS BASIC COLOR CLASSES -------------------- */

/* ------------------------------------------------------------ */
.color-blue {
    color: #428bca;
}

.color-success {
    color: #5cb85c;
}

.color-info {
    color: #5bc0de;
}

.color-warning {
    color: #f0ad4e;
}

.color-danger {
    color: #d9534f;
}

/* ------------------------------------------------------------ */

/* ------------------------------------------------------------ */

/* ------------------------------------------------------------ */
