/*****************************************************************
    **
    **  Task - 7 /Style.css
    **  24.03.2015
    **
*****************************************************************/
body {
    margin: 0 auto;
    padding: 0;

    font-family: 'Varela round', sans-serif;
    color: white;
    background-color: grey;
    font-size: 16px;
}

body a {
    text-decoration: none;
}

/******************************************************************
                    Adding fonts.
******************************************************************/
@font-face {
    font-family:'belinda';
    src: url('../fonts/Belinda.eot');
    src: url('../fonts/Belinda.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Belinda.woff') format('woff'),
         url('../fonts/Belinda.ttf') format('truetype'),
         url('../fonts/Belinda.svg#avant') format('svg');
    font-weight: normal;
    font-style: normal;
}
/******************************************************************
                    Main wrapper.
******************************************************************/
#wrapper {
    margin: 0 auto;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 0;
}
/******************************************************************
                    Header Background.
******************************************************************/
.bg {
    /*height: 1380px;*/
    background: url('../images/background.png') no-repeat center center fixed;
    /*background: url('../images/background2.jpg') no-repeat center center fixed;*/

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/******************************************************************
                    Header.
******************************************************************/
#header {
    text-align: center;
    max-height: 640px;
    position: relative;
    overflow: hidden;
}

/******************************************************************
                    Logo - Elena.
******************************************************************/
#header .logo {
    margin: 0 auto;
    padding: 60px 0 60px 0;
    font-size: 62px;
    font-family: 'Yesteryear';
    text-align: center;
}

/******************************************************************
                    Menu.
******************************************************************/
.menu {
    margin: 0 auto;
    padding: 20px 0 0 0;
    text-align: center;
    font-family: 'open sans-serif';
}

.menu li {
    margin: 0;
    list-style-type: none;
    display: inline-block;
}

.menu li a {
    margin: 0 32px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.menu li a:hover {
    color: #50c3af;
}

/******************************************************************
                    Sub Menu.
******************************************************************/
.menu .dropdown {
    display: none;
    position: relative;
    top: 60px;
    left: -200px;
    margin: 0;
    padding: 0;
}
.dropdown-menu {
    /*display: none;*/
}
.dropdown-menu {
    position: relative;
    border: 1px solid red;
}

.dropdown-menu li {
    position: relative;
    display: block;
    left: 10px;
}

.button {
/*    background: linear-gradient(#eee, #ddd);
    border: 1px solid #999;
    border-radius: 5px;
    color: #666;
    cursor: pointer;
    padding: 4px 10px 5px;*/
}

.dropdown-button::after {
    content: " \25BE";
}

/******************************************************************
                    Slogon.
******************************************************************/
#header .slogon {
    margin: 44px auto;
    text-align: center;
    font-size: 'ubuntu';
    text-transform: uppercase;
    font-size: 68px;

    /*in case someone puts more text*/
    max-height: 160px;
    overflow: hidden;
}

/******************************************************************
                    Slogon.
******************************************************************/
.lines {
    margin: 0 auto;
    font-size: 15px;
    text-align: center;
}

.lines:before {
    margin: 5px auto;
    display: inline-block;
    width: 8%;
    content: " ";
    border-bottom: 2px solid #fff;
    margin-right: 32px;
    opacity: 0.3;
}

.lines:after {
    margin: 5px auto;
    display: inline-block;
    width: 8%;
    content: " ";
    border-bottom: 2px solid #fff;
    margin-left: 32px;
    opacity: 0.3;
}

/******************************************************************
                    Slogon.
******************************************************************/
.btn {
    margin: 100px auto;
    background-color: #50c3af;
    border-radius: 50px;
    padding: 14px 28px;
    display: inline-block;

    /*in case someone puts more text*/
    max-height: 120px;
    max-width: 320px;
    overflow: hidden;
}

.btn-header {
    position: relative;
    bottom: 20px;
    color: #ffffff;
    font-size: 16px;
}

.btn-header:hover {
    background: #50c3af; /* Old browsers */
    background: -moz-linear-gradient(top,  #50c3af 0%, #1ece91 50%, #56ce86 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#50c3af), color-stop(50%,#1ece91), color-stop(100%,#56ce86)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #50c3af 0%,#1ece91 50%,#56ce86 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #50c3af 0%,#1ece91 50%,#56ce86 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #50c3af 0%,#1ece91 50%,#56ce86 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #50c3af 0%,#1ece91 50%,#56ce86 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50c3af', endColorstr='#56ce86',GradientType=0 ); /* IE6-9 */
}

/******************************************************************
                    MAIN.
******************************************************************/
#main {
    margin: 0 auto;
    padding-top: 20px;
    background-color: #eeeeef;
    /*padding: 100px 80px;*/
}

.main-wrap {
    font-family: 'PT';
    margin: 0 auto;
    border: 1px solid red;
    background-color: #ccc;
}

#main .article {
    margin: 0 auto;
    /*width: 260px;*/
    margin-top: 20px;
    color: #000000;
}

#main .article .headline {
    margin: 20px 0;
    color: #40474e;
    font-weight: bold;
    text-align: center;
}

#main .article .headline:before {
    margin: 30px auto;
    display: block;
    width: 52px;
    height: 42px;
    background-image: url('../images/elena-sprites.png');
    content: " ";
}

#main .article .headline.pro:before {
    background-position: -4px -8px;
}

#main .article .headline.amt:before {
    background-position: -52px -8px;
}

#main .article .headline.for:before {
    background-position: -101px -8px;
}

#main .article .headline:after {
    margin: 0 auto;
    display: block;
    padding: 12px 0;
    width: 60%;
    content: " ";
    border-bottom: 2px solid #787b80;
    opacity: 0.3;
}

#main .article .para {
    margin: 0 auto;
    width: 90%;
    color: #787b80;
    font-size: 14px;
    line-height: 24px;
    text-align: center;

    /*in case someone puts more texts*/
    max-height: 260px;
    overflow: hidden;
}

/******************************************************************
                    Section 2 - responsible.
******************************************************************/
#res {
    height: 530px;
    background-color: #f5f5f5;
}

.red {
    border: 1px solid red;
}